body{
 background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1920&q=80");
 background-size: cover;
 
}

footer .text-muted{
 background-color: rgba(0, 0, 0, 0.6) !important;
 color: white !important;
}
