body{
 background-image: url("https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3046442-inline-i-2-this-startup-pays-african-students-copy.jpg");
 background-size: cover;
 
}

footer .text-muted{
 background-color: rgba(0, 0, 0, 0.6) !important;
 color: white !important;
}
