:root{
    --primary:#0e8388;
}
.container{
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif !important;
}
#learn-more{
    background-color: #0e8388;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 2.5em;
    width: 15em;
    font-weight: 700;
    color: white;
}

.pressed:active{
    transform: scale(0.95);
    transition: 0.2s;
    outline: none !important;
    border: none !important;
}